.body {
    padding: 25px;
}

.list {
    margin: 10px;
    border: 1px solid rgb(166, 206, 200);
    text-align: left;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 25px;
}