.body {  
    position: relative;
    
}

.modal {
    background: rgba(166, 206, 200, 0.4);
    width: 400px;
    height: 300px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    border-radius: 25% 10%;
    
}

.none {
    display: none;
}

.close {
    font-size: 24px;
    position: absolute;
    top: 3%;
    right: 5%;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 12px;
    transition: .7s ease;
    
}

.close:hover {
    color: red;
    border: 1px solid red;
}

.title {
    font-size: 24px;
    padding: 25px 10px;
    font-weight: 700;
}

.body {
    font-size: 16px;
}